.page-content {
  display: flex;
  height: $page-content-height;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $large-space $space;

  @include desctop() {
    padding: $large-space $space;
  }
}

.page-content__sidebar {
  display: flex;
  width: 100vw;
  transition: left .3s ease;

  position: fixed;
  top: $header-height;
  left: -100vw;
  bottom: 0;
  z-index: 1;

  -webkit-overflow-scrolling: touch;

  @include desctop() {
    display: flex;
    width: $page-content-sidebar-width;
    padding-right: $large-space;
    position: static;
  }
}

.is-nav-open .page-content__sidebar {
  left: 0;
}

.page-content__main {
  display: flex;
  width: 100%;

  @include desctop() {
    width: $page-content-main-width;
  }

}

